{{ define "login.html" }}
    {{template "header"}}
    <link href="/static/css/login.css" rel="stylesheet">
    </head>
    <body>

    <form class="form-signin center" role="form" action="/login_account" method="post">
        <h2 class="form-signin-heading">
            <i class="fa fa-comments-o">
                午夜闲谈
            </i>
        </h2>
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <input type="password" name="password" class="form-control" placeholder="Password" required>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        <br/>
        <a class="lead pull-right" href="/signup">注册</a>
    </form>

{{ end }}