{{ define "thread.html" }}
    {{template "header"}}
    </head>
    <body>
    {{template "navbar" .}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="lead"> <i class="fa fa-comment-o"></i> {{ .Topic }}</span>
            <div class="pull-right">
                Started by {{ .User.Name }} - {{ .CreatedAtDate }}
            </div>
        </div>

        {{ range .post }}
            <div class="panel-body">
                <span class="lead"> <i class="fa fa-comment"></i> {{ .Body }}</span>
                <div class="pull-right">
                    {{.User.Name }}-{{.User.CreatedAt}}
                </div>
            </div>
        {{ end }}

    </div>
    {{template "footer"}}
{{ end }}